html, body {
    margin: 0;
    padding: 0;
	height: 100%;
	position: relative;
}

#options{ float: right;}
.option{ float: left; width: 100px; border: 1px solid #343434;  margin-left: 20px;}
#options h3{ margin-left: 20px; }